*.asm linguist-language=Assembly
*.inc linguist-language=Assembly
*.lib linguist-language=Assembly
*.exe linguist-language=Assembly
*.dll linguist-language=Assembly
*.def linguist-language=Assembly
*.exp linguist-language=Assembly
*.prra linguist-language=Assembly
SmplMath/documentation/* linguist-documentation
